:root {
    --cor-preto: #000000;
    --cor-azul: #2686cc;
    --cor-branca: #ffffff;
    --cor-cinza-escuro1: #b6b6b6;
    --cor-cinza-escuro2: #4D4D4D;
    --cor-cinza-escuro3: #7D7D7D;
    --cor-cinza-escuro4: #D1D1D1;
    --cor-cinza-medio: #e5e5e5;
    --cor-cinza-claro: #fafafa;

    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;

}

@font-face {
    font-family: Billabong;
    src: url(../fonts/Billabong/billabong.ttf),
        url(../fonts/Billabong/billabong_regular.otf);
}


/* SELETOR GLOBAL */
* {
    font-family: "Segoe UI", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* o valor total do tamanho do elemento conta tanto com espaços interno/externo e as bordas*/
}

body {
    background-color: var(--cor-cinza-claro);
}

h1 {
    position: absolute; /*altera a posição do elemento*/
    z-index: -1; /*camadas do elemento*/
    opacity: 0; 
}

/* formulario */
input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-cinza-claro);
}