main {
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

main>div {
    background-color: blueviolet;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

/*formulario*/
#formulario {
    height: 300px;
    background-color: brown;
}

#secao-cadastro {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
}

.estilo-formulario {
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branca);
}

.informacao-aplicativo {
    background-color: chocolate;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;

}

#secao-instalacao img {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 10px;

}

#secao-instalacao img {
    width: 120px;
    height: 39px;

}