/* login.css */
body {
    background-color: #2c2c2c; /* fundo preto/cinza */
    color: #ffffff; /* texto branco */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  main {
    background-color: #ffffff; /* fundo branco para contraste */
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
  }
  
  #formulario img {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .estilo-formulario input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 95%;
    padding: 10px;
    background: #2c2c2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background: #444;
  }
  
  a {
    color: #2c2c2c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #secao-cadastro {
    margin-top: 15px;
    font-size: 14px;
  }
  
  #secao-cadastro a {
    color: #000;
    font-weight: bold;
  }
  